$primary-color: #f43600;
$font: 15px sans-serif;

@import "_common";
@import "form";
@import "_main";
* {
    margin: 0;
    box-sizing: border-box;

}

.display-block {
    display: block !important;
}

.display-none {
    display: none;
}

body {
    font: $font;
}

.wrapper .container-fluid {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 0px;

    .wrapper {
        @include flexbox(space-between, center, row);
    }

    ul {
        padding: 0;
    }
}

#logo {
    font-weight: 800;
    font-size: xx-large;

    a {
        @include a(#121212, none)
    }

    span:nth-child(1) {
        color: $primary-color;
    }
}

.profile-img {
    width: 40px;
    height: 40px;
    background-color: purple;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    padding: 11px;
    text-transform: capitalize;
}

#profile {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}

.profile-info {
    border: 1px solid #9d9d9d;
    padding: 10px;
    padding: 4px 0;
    border-radius: 4px;
    position: absolute;
    background-color: #fff;
    right: -50%;
    z-index: 1;
    width: 125px;

}

.profile-info li {
    /* position: absolute; */

    list-style: none;
    margin-top: 5px;

}

.profile-info li:hover {
    background-color: silver;
}

.profile-info a {
    padding: 5px 15px;
    text-decoration: none;
    color: #121212;
    background-color: silve;
    display: block;
}



// ================= Hero section =====================
.hero-section {
    font-size: 30px;
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 100%;
    height: 100vh;

    img {
        width: 100%;
        // margin-top: -300px;
    }

    .hero-inner {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }

    h1:nth-child(1) {
        font-size: 1.8em;
    }

    h1:nth-child(2) {
        font-size: 1em;
    }

    form {
        margin-top: 0.9em;
    }
}

.shad {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1312124d;
    left: 0;
}



// ============== Media Query ===============

@media(max-width:1280px) {
    .hero-section {
        background-image: url(../img/home%20landing%20pade.jpeg);

        img {
            display: none;
        }
    }
}

@media(max-width:600px) {
    .hero-inner {
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }

    h1:nth-child(1) {
        font-size: 1em !important;
    }

    form {
        margin-top: 0.5em;
    }

    h1:nth-child(2) {
        font-size: 0.5em !important;
    }
}
@media(max-width:500px){
    .form{
        width: 100%;
    }
}